In [1]:
import pandas as pd
!pip install yfinance
import yfinance as yf;

Requirement already satisfied: yfinance in c:\programdata\anaconda3\lib\site-packages (0.1.54)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.16.5)
Requirement already satisfied: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (0.25.1)
Requirement already satisfied: requests>=2.20 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)

# Load CSV Financial Statements Data

In [2]:
aapl = pd.read_csv('./aapl_2019.csv', skiprows=2, index_col='Unnamed: 0')

In [3]:
aapl.head()

,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,2017-09,2018-09,2019-09,TTM
Revenue USD Mil,"65,225","108,249","156,508","170,910","182,795","233,715","215,639","229,234","265,595","260,174","260,174"
Gross Margin %,39.4,40.5,43.9,37.6,38.6,40.1,39.1,38.5,38.3,37.8,37.8
Operating Income USD Mil,"18,385","33,790","55,241","48,999","52,503","71,230","60,024","61,344","70,898","63,930","63,930"
Operating Margin %,28.2,31.2,35.3,28.7,28.7,30.5,27.8,26.8,26.7,24.6,24.6
Net Income USD Mil,"14,013","25,922","41,733","37,037","39,510","53,394","45,687","48,351","59,531","55,256","55,256"